.hero {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)),
        url(../assets/hero_img.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'JetBrains Mono';
}

nav {
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top: 2%;
    /* padding-left: 10%; */
}

nav ul li {
    /* align-content: center; */
    list-style-type: none;
    display: inline-block;
    /* background-color: white; */
    padding-top: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

nav ul li a {
    padding-bottom: 3px;
    text-decoration: none;
    color: #6e8390;
    font-family: 'JetBrains Mono';
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto Medium', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 2rem;
    font-weight: bold;
}

nav ul li a:hover {
    color: white;
    border-bottom: 6px solid red;
    transition: .3s;
}

.name {
    color: white;
    text-align: center;
    /* padding-top: 1vw; */
    font-size: 11rem;
    /* font-family: 'JetBrains Mono'; */
    position:relative;
    color: #91c1e6;
}

.description {
    color: #91c1e6;
    text-align: center;
    font-size: 4rem;
    padding-left: 8%;
    padding-right: 8%;
    /* padding-bottom: 3%; */
    position: relative;
}